@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap%27");
.neon-effect {
  -webkit-animation: NeonEffect 1s ease-in-out infinite alternate;
  -moz-animation: NeonEffect 1s ease-in-out infinite alternate;
  animation: NeonEffect 1s ease-in-out infinite alternate;
}

@keyframes NeonEffect {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e4c92f, 0 0 40px #e4c92f, 0 0 50px #e4c92f, 0 0 60px #e4c92f, 0 0 70px #e4c92f;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #dfc325, 0 0 40px #dfc325, 0 0 50px #dfc325, 0 0 60px #dfc325, 0 0 70px #dfc325, 0 0 80px #dfc325;
  }
}
.g-main {
  position: absolute;
  height: 100%;
  width: 100%;
}

.board .inventory {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem 2rem 0 2rem;
}

.board .inventory .wallets p {
  display: inline-block;
  padding: 0.2rem 1.5rem;
  background-color: rgba(24, 24, 24, 0.524);
  color: rgba(255, 255, 255, 0.842);
  clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
}

.board .inventory .wallets p a.open-tab-menu {
  color: rgba(255, 255, 255, 0.842);
}

.board .inventory .wallets div.dropdown {
  display: inline-block;
  margin: 0 0.8rem;
}

.gird-maps ul.maps-blip {
  position: relative;
}

.gird-maps ul.maps-blips li.maps-blip {
  position: absolute;
  list-style: none;
  font-size: 2rem;
  padding: 1.2rem 2.2rem;
  color: rgba(211, 211, 211, 0.918);
  clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
  background-color: rgba(24, 24, 24, 0.524);
}

.gird-maps ul.maps-blips li.maps-blip.active {
  clip-path: none;
  background-color: rgba(24, 24, 24, 0.624);
  border-radius: 0.1rem;
  z-index: 999;
}

.gird-maps ul.maps-blips li.maps-blip p.blip-name {
  display: none;
  font-size: 1.4rem;
  max-width: 30rem;
}

.gird-maps ul.maps-blips li.maps-blip p.blip-name span.description {
  display: block;
  margin: 0.55rem 0 0 0;
  text-align: justify;
  font-size: 0.85rem;
}

.gird-maps ul.maps-blips li.maps-blip p.blip-name.active {
  display: block;
}

.grcard {
  padding: 50px;
  margin: 0;
}

.card.truc {
  border-radius: 50px;
  border: none;
}

.card-title, .card-text {
  text-shadow: black 1px 0 10px;
}

.wood {
  border: 1px solid black;
  background-image: url("/assets/img/ranks/wood_texture.png");
  background-size: cover;
  z-index: 1;
  -moz-border-radius: 50px;
  border-radius: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.imgback {
  margin: 8px;
  margin-top: 0;
  padding: 8px;
  z-index: 2;
  border: 1px solid black;
}

.bg_card_one {
  background-image: url("/assets/img/ranks/bg_gold.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: none;
}

.bg_card_two {
  background-image: url("/assets/img/ranks/bg_silver.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

.bg_card_three {
  background-image: url("/assets/img/ranks/bg_bronze.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

.bg_next {
  background-image: url("/assets/img/ranks/paper.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: none;
}

.divider {
  height: 2px;
  background-color: black;
}

.spellbook {
  position: absolute;
  width: 300px;
  height: auto;
}

.lantern {
  position: absolute;
  width: 400px;
  height: auto;
}

@media screen and (max-width: 1200px) {
  .spellbook {
    display: none;
  }

  .lantern {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .card-rank {
    margin-bottom: 0.5rem;
  }
}
.gold-deco {
  background-image: url("/assets/img/shop/bourse-deco.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  width: 8rem;
  height: 8rem;
}

.coin-deco {
  background-image: url("/assets/img/shop/coin-shop.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
}

.h-100 {
  background-image: url("/assets/img/shop/fond-bois-shop - Copie.jpg");
  background-size: 100% 100%;
  border-radius: 11px;
  filter: drop-shadow(0 0 0.75rem black);
  font-family: "Luckiest Guy", cursive;
  text-align: center;
}

.h-100 a, h5 {
  font-size: 0.9rem;
  color: white;
  text-decoration: none;
  text-shadow: 2px 0 0 black, 2px 2px 0 black, 0 2px 0 black, -2px 2px 0 black, -2px 0 0 black, -2px -2px 0 black, 0 -2px 0 black, 2px -2px 0 black;
  display: inline-block;
  padding: 1rem;
}
.h-100 a:hover, h5:hover {
  color: #ffc107;
}

.fireflies {
  list-style: none;
}

.pix {
  background-size: cover;
  background-image: url("/assets/img/shop/pix.png");
  position: absolute;
  width: 21px;
  top: -20px;
  height: 21px;
  animation: leftright 24s infinite cubic-bezier(0.39, 0, 0.63, 1), updown 8s infinite 1.25s cubic-bezier(0.39, 0, 0.63, 1);
}

.pix:nth-of-type(2) {
  animation-delay: 4s;
  animation-duration: 17s, 8s;
  animation-fill-mode: backwards, backwards;
}

.pix:nth-of-type(3) {
  animation-delay: 1.5s;
  animation-duration: 14s, 7s;
  animation-fill-mode: backwards, backwards;
}

.pix:nth-of-type(4) {
  animation-delay: 5.5s;
  animation-duration: 10s, 13s;
}

.pix:nth-of-type(5) {
  animation-fill-mode: backwards, backwards;
  animation-duration: 12s, 15s;
}

@keyframes leftright {
  0%, 100% {
    left: 20%;
  }
  16.666% {
    left: 90%;
  }
  33.333% {
    left: 10%;
  }
  50% {
    left: 50%;
  }
  66.666% {
    left: 70%;
  }
  83.333% {
    left: 40%;
  }
}
@keyframes updown {
  0%, 100% {
    top: 0px;
    width: 20px;
    height: 20px;
  }
  25% {
    top: 45%;
  }
  50% {
    top: 20%;
    width: 30px;
    height: 30px;
  }
  75% {
    top: 45%;
    width: 10px;
    height: 10px;
  }
}
ul {
  list-style: none;
  margin: 0;
}

ul li {
  text-align: left;
}

.decor-presentation {
  position: relative;
  text-align: center;
}

.decor-presentation h2 {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Dancing Script", cursive;
  color: #fdec6e;
  text-shadow: 0px 0px 30px #fdec6e;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  text-decoration: none;
}

.image-decoration {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wood-1 {
  margin-right: -30px;
  margin-left: 30px;
}

.wood-3 {
  margin-left: -22px;
}

@media screen and (max-width: 993px) {
  .wood-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .wood-3 {
    margin-left: 0;
  }

  .responsiv-item-presentation {
    flex-direction: column;
  }
}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.popup .popuptext {
  visibility: hidden;
  background-image: url("/assets/img/navigation/header-background-small.png");
  color: black;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-shadow: none;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 27%;
  margin-left: -80px;
  padding: 1rem;
  border-radius: 6px;
  border: 0.3rem solid;
  border-color: #493015;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 993px) {
  .popup .popuptext {
    left: 13%;
  }
}
.close-popup {
  position: absolute;
  right: 4%;
  top: 2%;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.close-popup:hover {
  opacity: 1;
}

.close-popup:before, .close-popup:after {
  background-color: #333;
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
}

.close-popup:before {
  transform: rotate(45deg);
}

.close-popup:after {
  transform: rotate(-45deg);
}

.decor-top-left {
  position: absolute;
  top: -10%;
  left: -15%;
}

.decor-bot-left {
  position: absolute;
  top: -14%;
  left: -15%;
}

.decor-top-right {
  position: absolute;
  top: -10%;
  left: 70%;
}

.decor-bot-right {
  position: absolute;
  top: -14%;
  left: 70%;
}

@media screen and (max-width: 993px) {
  .decor-top-left {
    display: none;
  }

  .decor-bot-left {
    display: none;
  }

  .decor-top-right {
    display: none;
  }

  .decor-bot-right {
    display: none;
  }
}
hr.hr-style {
  overflow: visible;
  border-top: medium double #c7b304;
}

.container.profile-container {
  position: relative;
  padding-bottom: 30px;
}

.container.profile-container-2 {
  position: relative;
  display: flex;
  justify-content: center;
}

.class-player-profile {
  position: relative;
  text-align: center;
}
.class-player-profile .profile-pseudo {
  position: absolute;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 2px 0 0 black, 2px 2px 0 black, 0 2px 0 black, -2px 2px 0 black, -2px 0 0 black, -2px -2px 0 black, 0 -2px 0 black, 2px -2px 0 black;
  color: white;
  text-align: center;
  top: 10%;
  left: 35%;
}

.inventory-profile {
  background-image: url("/assets/img/profile/wood-border-profile.png");
  background-color: rgba(225, 225, 225, 0.33);
  background-size: 100% 100%;
  text-align: center;
  padding: 20px;
  border-radius: 11px;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 2px 0 0 black, 2px 2px 0 black, 0 2px 0 black, -2px 2px 0 black, -2px 0 0 black, -2px -2px 0 black, 0 -2px 0 black, 2px -2px 0 black;
  color: white;
}
.inventory-profile .list-inventory-profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 0;
}

@media screen and (max-width: 1199px) {
  .inventory-profile-title {
    font-size: x-large;
  }
}
.skin-inventory-profile {
  background-image: url("/assets/img/profile/wood-border-profile.png");
  background-color: rgba(225, 225, 225, 0.33);
  background-size: 100% 100%;
  text-align: center;
  padding: 20px;
  border-radius: 11px;
}

.content-profile {
  position: relative;
  text-align: center;
  background-image: url("/assets/img/profile/wood-bg-profile.jpg");
  background-size: 100% 100%;
  border-radius: 11px;
  filter: drop-shadow(0 0 0.75rem black);
  padding-top: 1.3rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  height: 300px;
  font-family: "Luckiest Guy", cursive;
  font-size: 0.9rem;
  text-align: center;
  color: white;
  text-shadow: 2px 0 0 black, 2px 2px 0 black, 0 2px 0 black, -2px 2px 0 black, -2px 0 0 black, -2px -2px 0 black, 0 -2px 0 black, 2px -2px 0 black;
}

.image-player-profile {
  background-image: url("/assets/img/profile/wood-border-profile.png");
  background-color: rgba(225, 225, 225, 0.33);
  background-size: 100% 100%;
  padding: 15px;
  border-radius: 11px;
}

.skin-profile-title {
  font-family: "Luckiest Guy", cursive;
  text-shadow: 2px 0 0 black, 2px 2px 0 black, 0 2px 0 black, -2px 2px 0 black, -2px 0 0 black, -2px -2px 0 black, 0 -2px 0 black, 2px -2px 0 black;
  color: white;
}

.skin-img-profile {
  border: solid 0.1rem;
  border-color: #53290d;
}

.container-tree-profile {
  position: absolute;
  top: 102%;
  left: 45%;
}

.tree-profile {
  width: 1000px;
  height: 1000px;
}

.container-house-profile {
  position: absolute;
}

.house-profile {
  width: 500px;
  height: 500px;
}

@media screen and (max-width: 1199px) {
  .container-tree-profile {
    position: absolute;
    top: 157%;
    left: 28%;
  }

  .tree-profile {
    width: 700px;
    height: 700px;
  }
}
@media screen and (min-width: 1199px) and (max-width: 1680px) {
  .container-tree-profile {
    position: absolute;
    top: 132%;
    left: 40%;
  }

  .tree-profile {
    width: 700px;
    height: 700px;
  }
}
@media screen and (max-width: 992px) {
  .container-tree-profile {
    display: none;
  }

  .container-house-profile {
    display: none;
  }
}
.table-game {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
  overflow: visible;
  border-top: medium double #c7b304;
  border-bottom: medium double #c7b304;
}

.container-game {
  width: 60rem;
  margin-top: 1rem;
  padding-left: 0px;
  padding-right: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header-game {
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  background-image: url("/assets/img/scene/wood-header-scene.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  border-radius: 0.25rem;
}

.header-text {
  margin-left: 2rem;
  font-size: 1.5625rem;
  color: white;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 2px 0 0 black, 2px 2px 0 black, 0 2px 0 black, -2px 2px 0 black, -2px 0 0 black, -2px -2px 0 black, 0 -2px 0 black, 2px -2px 0 black;
  display: flex;
  flex-direction: column;
}

.inventory.popup .popuptext {
  left: -4% !important;
  display: flex;
  flex-direction: column;
}

.content-game {
  height: 25rem;
  font-size: 1.6rem;
}

.btn-scene {
  margin-bottom: 1rem;
  color: white;
  border: none;
  background-image: url("/assets/img/scene/wood-header-scene.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.btn-scene:hover {
  color: #ffc107;
}

.avatar-player-scene {
  width: 18.75rem;
  height: 31.25rem;
  margin-left: 5rem;
  margin-right: -19rem;
  margin-top: 14.5rem;
  background-image: url("/assets/img/scene/avatar.png");
  border: 0.5rem double #c7b304;
}

@media screen and (max-width: 1357px) {
  .avatar-player-scene {
    display: none;
  }
}
.test {
  display: flex;
}

.image-class-scene {
  margin-right: 0rem;
}

main.bg-parchment {
  background-image: url("/assets/img/navigation/header-background-small.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: -2.6rem 0 0 0;
  padding: 2rem 0 4rem 0;
}

@media screen and (max-width: 1200px) {
  main.bg-parchment {
    background-image: url("/assets/img/navigation/header-background-small.png");
    background-size: cover;
  }
}
.jumbotron.jumbotron-wood {
  background-image: url("/assets/img/navigation/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  border-radius: 0;
  filter: drop-shadow(0 0 0.75rem black);
}

/*
*
* Fonts importation
*
*/
header.navigation {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

header.navigation nav.navbar {
  background-image: url("/assets/img/navigation/wood-bar.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0px 6px 16px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 16px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 16px -4px rgba(0, 0, 0, 0.75);
  color: #FFF;
  z-index: 999;
}

header.navigation nav.navbar li.nav-item a.nav-link {
  transition-duration: 0.3s;
  color: #FFF;
}

header.navigation nav.navbar li.nav-item a.nav-link:hover {
  transition-duration: 0.3s;
  color: #bebebe;
}

header.navigation a.navbar-brand {
  font-family: "Dancing Script", cursive;
  color: #FFF;
  padding: 0 1.4rem 0 1rem;
  font-size: 2rem;
}

ul.navbar-nav li.nav-item {
  padding: 0 1.2rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
main.bg-parchment {
  background-image: url("/assets/img/navigation/header-background-small.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: -2.6rem 0 0 0;
  padding: 2rem 0 4rem 0;
}

@media screen and (max-width: 1200px) {
  main.bg-parchment {
    background-image: url("/assets/img/navigation/header-background-small.png");
    background-size: cover;
  }
}
.jumbotron.jumbotron-wood {
  background-image: url("/assets/img/navigation/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  border-radius: 0;
  filter: drop-shadow(0 0 0.75rem black);
}

.overlay {
  font-family: "Dancing Script", cursive;
  height: auto;
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  background-image: url("/assets/img/maps/main-maps.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.overlay.overlay-shop {
  background-image: url("/assets/img/navigation/overlay/banner-shop.jpg");
}
.overlay.overlay-profile {
  background-position: center;
  background-image: url("/assets/img/navigation/overlay/profile.png");
}
.overlay.overlay-ranks {
  background-image: url("/assets/img/navigation/overlay/ranks.jpg");
}
.overlay.overlay-scene {
  background-image: url("/assets/img/navigation/overlay/scene.jpg");
}
.overlay.overlay-landscape {
  background-image: url("/assets/img/navigation/overlay/landscape.jpg");
}
.overlay .fadeout {
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.34);
}
.overlay .fadeout.overlay-fullscreen {
  height: 100vh;
}
.overlay .fadeout.overlay-landscape {
  background-position: center;
  background-image: url("/assets/img/navigation/overlay/landscape.jpg");
}
.overlay .fadeout.overlay-ranks {
  background-position: center;
  background-image: url("/assets/img/navigation/overlay/ranks.jpg");
}
.overlay .fadeout.fadeout-card {
  padding: 4rem 3rem;
  background-color: rgba(20, 20, 20, 0.26);
  clip-path: polygon(3% 0, 100% 0%, 97% 100%, 0% 100%);
  border-radius: 2rem;
}
.overlay .overlay-static {
  text-align: left;
}
.overlay .overlay-static h1, .overlay .overlay-static h2, .overlay .overlay-static h3, .overlay .overlay-static h4, .overlay .overlay-static h5, .overlay .overlay-static h6 {
  text-align: center;
}
.overlay .container {
  position: relative;
  overflow: hidden;
  padding: 5rem 0 3rem 0;
}
.overlay .container h1 {
  font-size: 3.8rem;
}
.overlay .container p {
  font-size: 1.4rem;
}

footer.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/img/navigation/footer-wood.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 3.5rem 0;
  height: 5rem;
}

footer.footer p {
  text-align: center;
  font-size: 1.4rem;
  max-width: 50%;
  color: #e0e0e0;
}
footer.footer p span.neon-effect {
  font-size: 1.7rem;
  font-family: "Dancing Script", cursive;
}
footer.footer p span.legal-notice {
  font-size: 0.85rem;
  display: block;
  color: #c5c5c5;
}

.space-card-title {
  text-align: center;
  padding: 2rem 0;
  color: #FFF;
}

.card.chose.card-parchment {
  background-color: transparent;
  border: transparent;
}
.card.chose.card-parchment .card-block {
  color: #FFF;
}
.card.chose.card-parchment .card-block .card-title {
  text-align: center;
  font-size: 1.4rem;
  margin: 1rem 0 0 0;
}
.card.chose.card-parchment .card-block .card-text {
  text-align: center;
  margin: 0 0 2rem 0;
}
.card.chose.card-parchment .card-block .card-text .text-expose {
  font-weight: bold;
  font-weight: 625;
}

.chest {
  background-image: url("/assets/img/credits/ClosedChest.png");
  background-size: contain;
  background-repeat: no-repeat;
  transition-duration: 0.5s;
}
.chest .displayText {
  visibility: hidden;
}

.chest:hover {
  background-image: url("/assets/img/credits/OpenChest.png");
  background-size: contain;
  background-repeat: no-repeat;
  transition-duration: 0.5s;
}
.chest:hover .displayText {
  visibility: visible;
}

.chatBox {
  position: relative;
  text-align: center;
}

.chatBoxAjust {
  position: absolute;
  top: 44%;
  left: 50.3%;
  transform: translate(-50%, -50%);
  font-size: 70%;
}
.chatBoxAjust h6 {
  font-size: 90%;
}

@media screen and (max-width: 767px) {
  .responsiveCredits {
    visibility: hidden;
  }

  .chatBoxAjust {
    top: 60%;
  }
}
.btn-parchment {
  font-size: 25px;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 2px 0 0 black, 2px 2px 0 black, 0 2px 0 black, -2px 2px 0 black, -2px 0 0 black, -2px -2px 0 black, 0 -2px 0 black, 2px -2px 0 black;
  background-image: url("/assets/img/buttons/button-parchment.png");
  color: white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.btn-parchment:hover {
  color: #ffc107;
}
.btn-parchment.btn-center {
  display: block;
  margin: auto;
}

@media screen and (max-width: 992px) {
  .btn-parchment {
    background-image: none;
  }
}

/*# sourceMappingURL=main.css.map */
