.bg-gl{
    background-image: url("/assets/img/profile/wood-bg-profile.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: none;
    
    height: 200px;
}

.card-title-gl, .card-text-gl{
    color: white;
}

.card-title-gl{
    font-weight: bold;
}

.decor-top-left-gl{
    position: absolute;
    top: 55%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.decor-bot-right-gl{
    position: absolute;
    top: 140%;
    left: 57%;
}

.btn-gl{
    margin: 20px;
    margin-top: 2px;
    margin-bottom: 0px;
    padding: 8px;
}

@media screen and (max-width: 1900px){
    .decor-bot-right-gl, .decor-top-left-gl{
        display: none;
        visibility: hidden;
    }
}

@media screen and (max-width: 1045px){
    .height-div-gl{
        height: 10rem;
        visibility: hidden;
    }
}