.table-game{
    width: 100%;
    margin-bottom: 1rem;

    color: #212529;

    border-collapse: collapse;
    overflow: visible; 
    border-top: medium double rgb(199, 179, 4);
    border-bottom: medium double rgb(199, 179, 4);
}

.container-game{
    width: 60rem;
    margin-top: 1rem;
    padding-left: 0px;
    padding-right: 0px;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-game{
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;

    background-image: url("/assets/img/scene/wood-header-scene.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center;

    list-style: none;
    border-radius: 0.25rem;
}

.header-text{
    margin-left: 2rem;

    font-size: 1.5625rem;
    color:white;
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 2px 0 0 black, 2px 2px 0 black, 0 2px 0 black, -2px 2px 0 black, -2px 0 0 black, -2px -2px 0 black, 0 -2px 0 black, 2px -2px 0 black;
    
    display:flex;
    flex-direction: column;
}

.inventory {
    &.popup .popuptext{
        left: -4% !important;

        display: flex;
        flex-direction: column;
    }
}
.content-game{
    height: 25rem;
    font-size: 1.6rem;
}

.btn-scene{
    margin-bottom: 1rem;

    color:white;
    border:none;

    background-image: url("/assets/img/scene/wood-header-scene.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    &:hover {
    color :#ffc107;
    }
}

.avatar-player-scene{
    width: 18.75rem;
    height: 31.25rem;
    margin-left: 5rem;
    margin-right:-19rem;
    margin-top:14.5rem;

    background-image: url("/assets/img/scene/avatar.png");
    border: 0.5rem double rgb(199, 179, 4);
}

@media screen and (max-width: 1357px) { 
    .avatar-player-scene{
        display:none;
    }  
}

.test{
    display:flex;
}
.image-class-scene{
  margin-right: 0rem;
}