.btn-parchment {
    font-size: 25px;
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 2px 0 0 black, 2px 2px 0 black, 0 2px 0 black, -2px 2px 0 black, -2px 0 0 black, -2px -2px 0 black, 0 -2px 0 black, 2px -2px 0 black;
    background-image: url("/assets/img/buttons/button-parchment.png");
    color:white;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    &:hover {
        color :#ffc107;
    }
    &.btn-center {
        display: block;
        margin : auto;
    }
}
@media screen and (max-width: 992px) { 
    .btn-parchment {
        background-image: none;
    }
} 