.btn-parchment {
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    color : white;
    text-shadow:0 1px 0 #060c0c;
    background-image: url("/assets/img/shop/enteteNav.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    &:hover {
        color: #fdec6e;
        text-shadow:0px 0px 30px #fdec6e;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        text-decoration: none;
    }
    &.btn-center {
        display: block;
        margin : auto;
    }
}