
main.bg-parchment {
    background-image: url("/assets/img/navigation/header-background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    margin: -2.6rem 0 0 0;
    padding: 2rem 0 4rem 0;
}

@media screen and (max-width: 1300px) { 
    main.bg-parchment {
        background-image: url("/assets/img/navigation/header-background-small.png");
        background-size: auto;
    }
} 

.jumbotron {
    &.jumbotron-wood {
        background-image: url("/assets/img/navigation/jumbotron.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        color: #ffffff;
        border-radius: 0;
        filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
    }
}