.overlay {

    font-family: 'Dancing Script', cursive;

    height: auto;
    width: 100%;

    color: #FFFFFF;
    text-align: center;

    background-image: url("/assets/img/maps/main-maps.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    z-index: -1;


    &.overlay-shop{
        background-image: url("/assets/img/navigation/overlay/banner-shop.jpg");
    }
    
    &.overlay-profile {
        background-position: center;
        background-image: url("/assets/img/navigation/overlay/profile.png");
    }
    &.overlay-ranks{
        background-image: url("/assets/img/navigation/overlay/ranks.jpg");
    }
    &.overlay-scene {
        background-image: url("/assets/img/navigation/overlay/scene.jpg");
    }
    &.overlay-landscape{
        background-image: url("/assets/img/navigation/overlay/landscape.jpg");
    }
    .fadeout {

        &.overlay-fullscreen {
            height: 100vh;
        }
    
        &.overlay-landscape {
            background-position: center;
            background-image: url("/assets/img/navigation/overlay/landscape.jpg");
        }
    
        &.overlay-ranks {
            background-position: center;
            background-image: url("/assets/img/navigation/overlay/ranks.jpg");
        }
        

        

        width: 100%;
        height: 100%;
        background-color: rgba(20, 20, 20, 0.34);
        &.fadeout-card {
            padding: 4rem 3rem;
            background-color: rgba(20, 20, 20, 0.26);
            clip-path: polygon(3% 0, 100% 0%, 97% 100%, 0% 100%);
            border-radius: 2rem;
        }
    }

    .overlay-static {
        text-align: left;
        h1, h2, h3, h4, h5, h6 {
            text-align: center;
        }
    }

    .container {
        position: relative;
        overflow: hidden;
        padding: 5rem 0 3rem 0;

        h1 {
            font-size: 3.8rem;
        }

        p {
            font-size: 1.4rem;
        }
        
    }

}